/* .rental-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
}

.smaller-poster {
    width: 100px;
    height: auto;
} */

.rentals-container {
    display: flex;
    justify-content: center;
}

.rental-card {
    max-width: 300px;
    margin: 10px;
}

.poster-image {
    width: 100%;
    height: auto;
}

.rental-title {
    font-size: 16px;
    font-weight: bold;
}

.return-price {
    font-size: 14px;
}

.row-cols-2>.col {
    flex-basis: 50%;
    max-width: 50%;
}