.navbar-brand {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white !important;
    transition: box-shadow 0.3s;
}

.navbar-brand:hover {
    box-shadow: 0 0 10px white;
}

.navbar-link {
    font-size: 20px;
    border: none;
    background-color: rgb(255, 255, 255);
}

.nav-link:hover {
    box-shadow: 0 0 10px rgb(248, 3, 3);
}

.custom-navbar {
    background-color: #00695dcf; 
}

.custom-navbar .nav-link {
    color: white;
}

.nav-item {
    margin-right: 20px; 
}
