.guest-navbar {
    background-color: #003366;  
}


.guest-navbar .nav-link {
    color: white;  
}

.guest-navbar .navbar-brand {
    color: white;  
}

.nav-item {
    margin-right: 20px;  
}

/* Reduce vertical padding for the navbar */
.navbar {
    padding-top: 0.25rem;  
    padding-bottom: 0.25rem;
}

/* Adjusting the size of navbar-brand */
.navbar-brand {
    font-size: 1.25rem;
}
