.navbar-brand {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: black;
    transition: box-shadow 0.3s;
}

.navbar-brand:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar-link {
    font-size: 20px;
    border: none;
    background-color: black;
}

.nav-link:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



