.container {
    display: block; 
}

.home-movie-posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px; 
  }
  
  .poster-path {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
  }
  
  .poster-path:hover {
    transform: scale(1.05);
  }